@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
	position: relative;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
}

.after {
	position: relative;
}

.after::after {
	content: '';
	background: #ffffff;
	width: 100%;
	position: absolute;
	height: 8px;
	bottom: 0;
	left: 0;
}

h1,
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 88px;
	font-weight: 900;
	line-height: 1.18;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-size: 104px;
	line-height: 1.08;
	letter-spacing: normal;
}

h3,
h4 {
	font-family: 'Playfair Display', serif;
	font-size: 72px;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.11;
	letter-spacing: normal;
	color: #ffffff;
	margin: 0;
}

h4 {
	font-size: 40px;
	line-height: 1;
}

p {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

body {
	background: #eee;
	font-size: 14px;
	color: #000;
	margin: 0;
	font-family: 'Playfair Display', serif;
	padding: 0;
}

.text {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #131313;
}

.btn_contact {
	box-sizing: border-box;
	transition: all 0.3s linear;
	width: 342px;
	height: 64px;
	box-shadow: 4px 4px 0 0 #ffffff;
	background-color: #131313;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	span {
		font-size: 24px;
		font-weight: bold;
		font-stretch: normal;
		font-style: italic;
		line-height: 1.33;
		letter-spacing: normal;
		color: #f7ad01;
	}

	.next {
		background-image: url("../img/arrow right button.svg");
		width: 16px;
		height: 16px;
		position: relative;
		margin-top: 5px;
		margin-left: 16px;
	}

	&:hover {
		background-color: #f7ad01;
		border: 2px solid #131313;

		span {
			color: #131313;
		}

		.next {
			background-image: url("../img/arrow right button hover.svg");
		}
	}
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	flex: none;
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.modal1 {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
	position: fixed;
}

.modal1.active {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
	position: fixed;
	display: flex;
	padding: 32px;
	width: calc(100%);
	height: calc(100%);
	background: #131313;
	box-sizing: border-box;
	z-index: 1000;
	left: 0;
	top: 0;

	.wrap_modal_cont {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-around;
	}

	.content {
		position: relative;
		width: 100%;
		height: 100%;
		background: #f7ad01;
	}

	.close {
		background-image: url("../img/cross.svg");
		cursor: pointer;
		width: 80px;
		height: 80px;
		position: absolute;
		right: 0;
		left: calc(100% - 80px);
		z-index: 1001;
		top: 0;
	}

	.block {
		background-image: url("../img/screen-4-rectangle-2.svg");
		z-index: 1002;
		position: fixed;
		left: 32%;
		width: 249px;
	}

	.illustration {
		background-image: url("../img/slide4/illustration-3.svg");
		width: 50%;
		height: 769px;
		position: relative;
		left: 16px;
		background-position: center;
		background-size: contain;
	}

	.Triangle {
		background: #131313;
		position: absolute;
		left: calc(100% - 80px);
		z-index: 1000;
		top: 0;
		width: 180px;
		height: 180px;
		transform: rotate(45deg) translate(-58px, -95px);
	}

	.flex_content {
		position: relative;
		max-width: 503px;

		h4 {
			color: #131313;

			.after::after {
				height: 100%;
				z-index: -1;
				left: 25px;
			}
			margin-bottom: 32px;
		}

		.text {
			margin-bottom: 32px;
		}

		.btn_contact {}
	}
}

.modal1.active.modal2 {
	.illustration {
		background-image: url("../img/slide4/illustration-4.svg");
	}
}

.modal1.active.modal3 {
	.illustration {
		background-image: url("../img/slide4/illustration-5.svg");
	}
}

.modal1.active.modal4 {
	.illustration {
		background-image: url("../img/slide4/illustration-6.svg");
	}
}

.modal1.active.modal5 {
	.illustration {
		background-image: url("../img/slide4/illustration-7.svg");
	}
}

.modal1.active.modal6 {
	.illustration {
		background-image: url("../img/slide4/illustration-8.svg");
	}
}

.modal1.active.modal7 {
	.illustration {
		background-image: url("../img/slide4/illustration-9.svg");
	}
}

.next_page_btn {
	width: 43px;
	height: 43px;
	position: absolute;
	bottom: 32px;
	right: 32px;
	background-image: url("../img/arrow screen-1.svg");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1231234;
}

#s2 .next_page_btn {
	background-image: url("../img/arrow screen-2.svg");
}

#s3 .next_page_btn {
	background-image: url("../img/arrow screen-3.svg");
}

#s4 .next_page_btn {
	background-image: url("../img/arrow screen-4.svg");
}

#s1 {
	background-color: #e73d11;
}

#s2,
#s4,
#s7 {
	background-color: #131313;
}

#s3,
#s8,
#s9 {
	background-color: #7c00d9;
}

#s6 {
	background-color: #e73d11;
}

.bg {
	background-image: url("../img/slide1/star-1.svg");
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	z-index: 2;
}

header {
	position: fixed;
	z-index: 2;
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 160px;
	box-sizing: border-box;

	.logo {
		background-image: url("../img/logo.svg");
		width: 132px;
		height: 24px;
		cursor: pointer;
		transition: all 0.3s linear;
		background-size: contain;

		&:hover {
			background-image: url("../img/logo-hover.svg");
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		a {
			text-decoration: none;
			font-family: Raleway;
			color: #fff;
			position: relative;
			padding: 10px;

			&.active {
				font-weight: 800;
				color: #f7ad01;

				li {
					&::after {
						display: none;
					}
				}
			}

			li {
				font-family: 'Raleway', sans-serif;
				font-size: 18px;
				line-height: 1.33;
				position: relative;

				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					bottom: 0;
					left: 0;
					background-color: #f7ad01;
				}
			}
		}
	}
}

.content {
	z-index: 3;
	width: calc(100% + 400px);
	height: 100%;
}

.connect_link {
	font-size: 48px;
	font-weight: bold;
	font-stretch: normal;
	font-style: italic;
	line-height: 0.67;
	letter-spacing: normal;
	transition: all 0.3s linear;
	color: #f7ad01;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 48px;

	span:hover + div {
		background-image: url("../img/arrow right hover button-1.svg");
	}

	span {
		position: relative;
		height: 100%;
		cursor: pointer;
		transition: all 0.3s linear;

		&:hover {
			color: #fff;

			&::after {
				opacity: 0;
			}

			& .next {
				background: red;
			}
		}

		&::after {
			content: '';
			background: #f7ad01;
			width: 100%;
			position: absolute;
			height: 2px;
			opacity: 1;
			bottom: 0;
			left: 0;
			transition: all 0.3s linear;
		}
	}

	.next {
		width: 28px;
		height: 28px;
		margin-left: 18px;
		position: relative;
		background-image: url("../img/arrow right button.svg");
		cursor: pointer;
	}
}

#s1 {
	width: calc(100% + 1200px) !important;
	margin-right: 800px;
	margin-left: -800px;

	.content {
		z-index: 3;
		width: calc(100% + 400px);
		height: 100%;
		margin-left: 800px;
		margin-right: 400px;
	}

	.wrapper {
		position: absolute;
		left: 58px;
		display: flex;
		flex-flow: column;
		top: 344px;
		justify-content: flex-start;
		width: 100%;
	}

	h1 {
		width: 1064px;
		margin: 23px;
		text-align: left;

		.f1 {
			margin-left: 144px;
		}

		.f2 {
			margin-left: 40px;
		}
	}

	.star {
		height: 812px;
		width: 978px;
		background-size: contain;
		background-position: right;
		top: -200px;
		left: -662px;
		background-image: url("../img/star_s.svg");
	}

	.c1,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.c7,
	.c8,
	.c9 {
		background-image: url("../img/slide1/oval.svg");
	}

	.c1,
	.c4 {
		width: 46px;
		height: 46px;
		top: 167px;
		left: 719px;
	}

	.c2 {
		width: 108px;
		height: 108px;
		top: 53px;
		left: 785px;
	}

	.c3 {
		width: 28px;
		height: 28px;
		top: 18px;
		left: 800px;
	}

	.c4 {
		left: 1309px;
		top: 556px;
	}

	.c5 {
		width: 230px;
		height: 230px;
		top: 420px;
		left: 1380px;
	}

	.c6 {
		background-image: url("../img/slide1/oval.svg");
		width: 570px;
		height: 344px;
		bottom: 0;
		left: 785px;
		top: inherit;
	}

	.c7 {
		background-image: url("../img/slide1/oval.svg");
		width: 659px;
		background-size: cover;
		background-position: bottom;
		height: 438px;
		top: 0;
		left: 941px;
	}

	.c8 {
		width: 400px;
		height: 400px;
		top: 58px;
		left: calc(100% + 150px);
	}

	.c9 {
		width: 105px;
		height: 105px;
		top: inherit;
		bottom: 21px;
		left: inherit;
		right: -379px;
	}
}

#s2 {
	position: relative;
	margin-left: -800px;
	width: calc(100% + 800px) !important;

	.content {
		z-index: 3;
		margin-left: 400px;
		position: relative;
		margin-right: 400px;

		.c1,
		.c2,
		.c3,
		.c4,
		.c5,
		.c6,
		.c7,
		.c8 {
			background-image: url("../img/slide2/Screen-2 Triangle -1.svg");
			background-size: contain;
		}

		.c1 {
			height: 231px;
			width: 269px;
			left: -400px;
			top: 82px;
		}

		.c2 {
			background-image: url("../img/slide2/Screen-2 Triangle -2.svg");
			width: 614px;
			height: 500px;
			left: -260px;
			top: inherit;
			bottom: -150px;
		}

		.c3 {
			background-image: url("../img/slide2/Screen-2 Triangle -3.svg");
			width: 235px;
			height: 249px;
			left: -100px;
			top: 400px;
		}

		.c4 {
			background-image: url("../img/slide2/Screen-2 Triangle -4.svg");
			width: 101px;
			height: 101px;
			bottom: 10px;
			top: inherit;
			left: 148px;
		}

		.c5 {
			background-image: url("../img/slide2/Combined Shape.svg");
			width: 756px;
			height: 756px;
			top: 78px;
			left: 812px;
		}

		.c6 {
			background-image: url("../img/slide2/Screen-2 Triangle -5.svg");
			width: 210px;
			height: 242px;
			top: 55px;
			left: 1390px;
			z-index: 4;
		}

		.c7 {
			background-image: url("../img/slide2/Screen-2 Triangle -6.svg");
			width: 81px;
			height: 101px;
			top: 204px;
			left: 1509px;
			z-index: 4;
		}

		.c8 {
			background-image: url("../img/slide2/Screen-2 Triangle -7.svg");
			left: 1400px;
			width: 509.5px;
			bottom: -71px;
			top: inherit;
			height: 528px;
		}

		.c9 {
			background-image: url("../img/slide2/Screen-2 Triangle -8.svg");
			width: 252px;
			height: 228px;
			top: inherit;
			left: 1700px;
			bottom: -50px;
		}
	}

	.about {
		width: 1172px;
		position: absolute;
		z-index: 3;
		left: 268px;
		top: 209px;

		h2 {
			font-size: 72px;
			font-weight: 900;
			font-stretch: normal;
			font-style: italic;
			font-family: 'Playfair Display', serif;
			line-height: 1;
			letter-spacing: normal;
			color: #ffffff;
			text-transform: inherit;
			text-align: left;
		}

		.about_p {
			margin-top: 40px;
			display: flex;
			padding: 0 16px 0 109px;

			p {
				font-size: 24px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				max-width: 507px;
				line-height: 1.33;
				padding: 0 16px;
				letter-spacing: normal;
				color: #ffffff;
				text-align: left;
			}
		}
	}
}

#s3 {
	width: calc(100% + 800px) !important;

	.content {
		position: relative;
		margin-left: 400px;
		margin-right: 400px;
	}
	margin-left: -800px;

	.c1,
	.c10,
	.c11,
	.c12,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.c7,
	.c8,
	.c9 {
		background-image: url("../img/slide1/oval.svg");
	}

	.c1 {
		top: 334px;
		left: -80px;
		width: 176px;
		height: 176px;
	}

	.c2 {
		width: 40px;
		height: 40px;
		top: 500px;
		left: -100px;
	}

	.c3 {
		width: 468px;
		height: 368px;
		top: inherit;
		bottom: -80px;
		background-size: cover;
		left: -150px;
	}

	.c4 {
		background-image: url("../img/slide3/illustration-1.svg");
		left: 1143px;
		top: 73px;
		width: 429px;
		height: 779px;
	}

	.c5 {
		background-image: url("../img/slide3/Screen-3 Star-1-2.svg");
		left: 174px;
		top: 0;
		width: 978px;
		height: 683px;
	}

	.c6 {
		background-image: url("../img/slide3/Screen-3 Oval-10-2.svg");
		left: 645px;
		top: 0;
		width: 137px;
		height: 49px;
	}

	.c7 {
		left: 825px;
		top: 622px;
		width: 44px;
		height: 44px;
	}

	.c8 {
		left: 704px;
		top: 568px;
		width: 109px;
		height: 109px;
	}

	.c9 {
		left: 982px;
		top: 473px;
		width: 27px;
		height: 27px;
	}

	.c10 {
		left: 1368px;
		top: 422px;
		width: 400px;
		height: 400px;
		z-index: 1;
	}

	.c11 {
		left: 1940px;
		top: 161px;
		width: 31px;
		height: 31px;
	}

	.c12 {
		left: 1960px;
		top: inherit;
		width: 234px;
		height: 234px;
		bottom: 0;
	}

	.about {
		width: 1172px;
		max-width: 985px;
		position: absolute;
		z-index: 3;
		left: 160px;
		top: 146px;

		h2 {
			text-align: left;

			span {
				color: #f7ad01;
			}

			.after::after {
				background: #f7ad01;
			}
		}

		.about_p {
			margin-top: 40px;
			display: flex;
			padding: 0 16px 0 109px;

			p {
				font-size: 24px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				max-width: 507px;
				line-height: 1.33;
				padding: 0 16px;
				letter-spacing: normal;
				color: #ffffff;
				text-align: left;
			}
		}
	}
}

#s4 {
	margin-left: -800px;
	width: calc(100% + 800px) !important;
	position: relative;

	.content {
		.swiper_s4 {
			width: 100%;
			height: 100%;
			background: rgba(255,0,0,0);
			position: relative;
			z-index: 23;

			.swiper-slide {
				background: transparent;
				max-width: 680px;

				.flex {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column;
					position: relative;

					.illustration {
						background-image: url("../img/slide4/illustration-3.svg");
						width: 660px;
						height: 600px;
						z-index: 1;
						opacity: 0;
						transition: all 0.3s linear;
						position: absolute;
						top: -100px;
						left: -500px;
					}

					.h3_slide {
						transition: all 0.3s linear;
						color: #363636;

						.after {
							white-space: nowrap;

							&::after {
								background: #f7ad01;
								height: 2px;
								transition: all 0.3s linear;
								opacity: 0;
							}
						}
					}

					.btn_down {
						background-image: url("../img/arrow down.svg");
						cursor: pointer;
						position: relative;
						transition: all 0.3s linear;
						width: 56px;
						height: 56px;
						margin-top: 32px;
						opacity: 0;

						&:hover {
							background-image: url("../img/arrow down hover.svg");
						}
					}
				}

				&.swiper-slide-active {
					.flex {
						.illustration {
							opacity: 0.2;
							transition: all 0.3s linear;
							left: -595px;
							top: -146px;
						}

						.illustration.i2 {
							background-image: url("../img/slide4/illustration-4.svg") !important;
							left: 5px;
							top: -146px;
						}

						.illustration.i3 {
							background-image: url("../img/slide4/illustration-5.svg") !important;
							left: -495px;
							top: -346px;
						}

						.illustration.i4 {
							background-image: url("../img/slide4/illustration-6.svg") !important;
							left: 395px;
							top: 106px;
						}

						.illustration.i5 {
							background-image: url("../img/slide4/illustration-7.svg") !important;
							left: -100px;
							top: -306px;
						}

						.illustration.i6 {
							background-image: url("../img/slide4/illustration-8.svg") !important;
							left: 55px;
							top: 106px;
						}

						.illustration.i7 {
							background-image: url("../img/slide4/illustration-9.svg") !important;
							left: 395px;
							top: -56px;
						}

						&:hover {
							.btn_down {
								background-image: url("../img/arrow down hover.svg");
							}

							.h3_slide .after {
								&::after {
									background: #e73d11;
								}
							}
						}

						.btn_down {
							opacity: 1;
						}
					}

					.h3_slide {
						color: #fff;
						transition: all 0.3s linear;
						z-index: 2;
						position: relative;
						cursor: pointer;

						.after {
							white-space: nowrap;
							transition: all 0.3s linear;

							&::after {
								background: #f7ad01;
								height: 2px;
								opacity: 1;
								transition: all 0.3s linear;
							}
						}
					}
				}
			}
		}

		.swiper-wrapper {
			background: transparent;
		}
		width: calc(100% - 400px);
		height: 100%;
		position: relative;
		margin-right: 1200px;
		margin-left: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 34;
	}

	.c1,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6 {
		z-index: 100;
		background-image: url("../img/slide4/Screen-4 Rectangle-1.svg");
	}

	.c1 {
		top: 40px;
		left: -100px;
		height: 319px;
		width: 319px;
	}

	.c2 {
		background-image: url("../img/slide4/Screen-4 Rectangle-4.svg");
		width: 71px;
		height: 71px;
		top: 109px;
		left: 1024px;
	}

	.c3 {
		background-image: url("../img/slide4/Screen-4 Rectangle-5.svg");
		width: 738px;
		height: 738px;
		top: -400px;
		left: 1030px;
	}

	.c4 {
		background-image: url("../img/slide4/Screen-4 Rectangle-2.svg");
		top: inherit;
		left: 553px;
		width: 269px;
		bottom: 0;
		height: 194px;
		background-size: cover;
	}

	.c5 {
		background-image: url("../img/slide4/Screen-4 Rectangle-3.svg");
		top: 821px;
		left: 410px;
		width: 66px;
		height: 66px;
	}

	.c6 {
		background-image: url("../img/slide4/Screen-4 Rectangle-1-2.svg");
		top: 400px;
		left: 1710px;
		width: 319px;
		height: 319px;
	}
}

#s5,
#s7 {
	margin-left: -800px;
	width: calc(100% + 800px) !important;
	position: relative;
	background-color: #e73d11;

	.next_page_btn {
		background-image: url("../img/arrow screen-5.svg");
	}

	.content {
		width: calc(100% + 400px);
		height: 100%;
		margin-left: 400px;
		position: relative;
		margin-right: 400px;

		.about {
			position: absolute;
			left: 446px;
			width: 709px;
			top: 272px;
			z-index: 12;

			h1 {
				font-size: 104px;

				span {
					color: #f7ad01;
				}
			}

			.connect_link {
				height: 32px;
				margin-top: 24px;

				span {
					font-size: 32px;
				}
			}
		}
	}

	.c1,
	.c10,
	.c11,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.c7,
	.c8,
	.c9 {
		background-image: url("../img/slide1/oval.svg");
	}

	.c1 {
		width: 484px;
		height: 484px;
		bottom: -180px;
		left: -200px;
		top: inherit;
	}

	.c2 {
		width: 209px;
		height: 209px;
		left: 66px;
		top: 370px;
	}

	.c3 {
		width: 64px;
		height: 64px;
		top: 515px;
		left: 267px;
	}

	.c4 {
		width: 804px;
		height: 804px;
		left: 398px;
		top: 48px;
	}

	.c5 {
		width: 64px;
		height: 64px;
		top: 745px;
		left: 1102px;
	}

	.c6 {
		width: 43px;
		height: 43px;
		left: 1325px;
		top: 328px;
	}

	.c7 {
		width: 277px;
		height: 277px;
		top: 11px;
		left: 1174px;
	}

	.c8 {
		width: 86px;
		height: 86px;
		top: 275px;
		left: 1391px;
	}

	.c9 {
		width: 340px;
		height: 400px;
		top: 58px;
		left: 1591px;
	}

	.c10 {
		width: 105px;
		height: 105px;
		top: 774px;
		left: 1791px;
	}
}

#s6 {
	background-color: #131313;
	margin-left: -800px;
	width: calc(100% + 800px) !important;
	position: relative;

	.illustration {
		background-image: url("../img/illustration-2.svg");
		width: 1036px;
		height: 707px;
		left: 563px;
		top: 193px;
	}

	.content {
		width: calc(100% + 400px);
		height: 100%;
		margin-left: 400px;
		position: relative;
		margin-right: 400px;

		.about {
			z-index: 123;
			position: absolute;
			left: 160px;
			top: 194px;
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			align-items: flex-start;
			max-width: 975px;

			h1 {
				color: #ebb10b;
				font-size: 104px;

				&::after {
					background: #ebb10b;
				}
			}

			h4 {
				line-height: 1.2;
				text-align: left;
				margin: 24px 0 0;
			}

			ul {
				line-height: 1.33;
				list-style: none;
				margin: 0;

				.text {
					color: #fff;
					text-align: left;
					margin: 30px 85px;
					position: relative;

					&::before {
						content: '';
						width: 5px;
						height: 5px;
						position: absolute;
						left: -24px;
						background: #ebb10b;
						top: 13px;
						border-radius: 50%;
					}
				}
			}
		}
	}

	.next_page_btn {
		background-image: url("../img/arrow screen-6.svg");
	}

	.c1,
	.c10,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.c7,
	.c8,
	.c9 {
		background-image: url("../img/slide6/Screen-6 Triangle-1.svg");
	}

	.c1 {
		height: 142px;
		top: 0;
		left: -100px;
		width: 142px;
	}

	.c2 {
		background-image: url("../img/slide6/Screen-6 Triangle-2.svg");
		height: 849px;
		top: inherit;
		left: -500px;
		width: 743px;
		bottom: -500px;
	}

	.c3 {
		background-image: url("../img/slide6/Screen-6 Triangle-3.svg");
		width: 150px;
		height: 150px;
		top: 745px;
		left: 120px;
	}

	.c4 {
		background-image: url("../img/slide6/Screen-6 Triangle-4.svg");
		width: 743px;
		height: 743px;
		top: 440px;
		left: 1066px;
	}

	.c5 {
		background-image: url("../img/slide6/Screen-6 Triangle-5.svg");
		width: 101px;
		height: 101px;
		top: 140px;
		left: 1466px;
	}

	.c6 {
		background-image: url("../img/slide6/Screen-6 Triangle-6.svg");
		width: 423px;
		height: 423px;
		top: -112px;
		left: 1266px;
		z-index: 1;
	}

	.c7 {
		background-image: url("../img/slide6/Screen-6 Triangle-7.svg");
		width: 188px;
		height: 188px;
		left: 1766px;
		top: 445px;
	}

	.c8 {
		background-image: url("../img/slide6/Screen-6 Rectangle-1.svg");
		width: 161px;
		height: 161px;
		left: 1666px;
		top: 745px;
	}
}

#s7 {
	background-color: #7c00d9;
	margin-left: -800px;
	width: calc(100% + 800px) !important;
	position: relative;
	overflow: hidden;

	.c11 {
		background-image: url("../img/slide1/oval.svg");
		width: 319px;
		height: 319px;
		left: -560px;
		top: 341px;
		z-index: 1;
	}

	#back_page_btn {
		background-image: url("../img/arrow screen-7.svg");
		left: 32px;
		width: 43px;
		height: 32px;
		position: absolute;
		bottom: 32px;
		right: 32px;
		background-size: contain;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 1231234;
	}

	.text {
		color: #fff;
		max-width: 520px;
		margin: 0 auto;
	}

	.license {
		position: absolute;
		left: 160px;
		bottom: 12px;
		display: flex;
		flex-flow: row nowrap;

		a {
			white-space: nowrap;
			z-index: 12;
			color: #fff;
			margin: 0 10px;
			transition: all 0.3s linear;
			font-size: 18px;

			&::after {
				background-color: #f7ad01;
				height: 1px;
			}

			&:hover {
				color: #f7ad01;
			}
		}
	}

	.copy {
		position: absolute;
		color: #fff;
		font-size: 18px;
		right: 160px;
		bottom: 12px;
	}
}

#s8 {
	margin-left: -800px;
	width: calc(100% + 1200px) !important;

	.content {
		z-index: 3;
		width: calc(100% + 400px);
		height: 100%;
		margin-left: 400px;
		margin-right: 800px;
		position: relative;

		h1 {
			font-size: 104px;

			span {
				color: #f7ad01;
			}
		}

		.about {
			max-width: 945px;
			margin-left: 160px;
			text-align: left;
			margin-top: 256px;
		}

		.c1,
		.c2,
		.c3,
		.c4,
		.c5,
		.c6,
		.c7 {
			background-image: url("../img/slide1/oval.svg");
		}

		.c1 {
			width: 64px;
			height: 64px;
			left: 230px;
			top: 85px;
		}

		.c2 {
			width: 262px;
			height: 304px;
			left: -30px;
			top: 148px;
			z-index: -1;
		}

		.c3 {
			width: 277px;
			height: 277px;
			left: 1174px;
			top: -10px;
		}

		.c4 {
			width: 86px;
			top: 275px;
			left: 1391px;
			height: 86px;
		}

		.c5 {
			width: 43px;
			height: 43px;
			left: 1325px;
			top: 327px;
		}

		.c6 {
			width: 64px;
			height: 64px;
			left: 1238px;
			top: 410px;
		}

		.c7 {
			width: 583px;
			height: 526px;
			top: 474px;
			left: 1117px;
		}
	}
}
// tablet 768px x 1024px
@media only screen and (max-width: 768px) {
	header {
		margin-top: 16px;
		padding: 0 24px;
		align-items: center;
	}

	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 48px;
	}

	.connect_link {
		height: 32px;
		margin-top: 16px;
		width: 600px;

		.next {
			width: 16px;
			height: 16px;
		}
		font-size: 32px;
	}

	#s1 {
		.wrapper {
			top: 504px;
			left: 28px;

			h1 {
				.f1 {
					margin-left: 84px;
				}

				.f2 {}
				display: initial;
				flex-flow: column;
				width: 712px;
				margin: 0;

				span {
					&::after {
						display: none;
					}
				}
			}
		}

		.star {
			top: -250px;
			left: -462px;
		}

		.c1 {
			width: 28px;
			height: 28px;
			left: 415px;
			top: 405px;
		}

		.c2 {
			width: 66px;
			height: 66px;
			left: 455px;
			top: 335px;
		}

		.c3 {
			width: 17px;
			height: 17px;
			top: 315px;
			left: 464px;
		}

		.c8 {
			width: 400px;
			height: 400px;
			top: -40px;
			left: 500px;
		}

		.c7 {
			width: 28px;
			height: 28px;
			top: 679px;
			left: 731px;
		}

		.c9 {
			width: 139px;
			height: 139px;
			top: 600px;
			right: -279px;
		}

		.c6 {
			left: 296px;
			bottom: -50px;
		}

		.c5 {
			width: 105px;
			left: 1120px;
			height: 105px;
			top: 895px;
		}
	}

	#s2 {
		.about {
			left: 28px;
			max-width: 700px;
			top: 304px;

			h2 {
				font-size: 48px;
			}

			.about_p {
				margin: 24px 0;
				padding: 0;

				p {
					font-size: 20px;
				}
			}
		}

		.content {
			.c2 {
				bottom: -250px;
			}

			.c3 {
				width: 175px;
				height: 249px;
				left: -50px;
				top: 722px;
			}

			.c4 {
				width: 60px;
				height: 101px;
				bottom: -10px;
				top: inherit;
				left: 250px;
			}

			.c5 {
				width: 305.4px;
				height: 880px;
				background-size: cover;
				left: 446px;
			}

			.c6 {
				width: 410px;
				height: 442px;
				top: -55px;
				left: 510px;
			}

			.c7 {
				left: 709px;
				width: 181px;
				height: 150px;
			}

			.c8 {
				left: 577px;
				bottom: -150px;
			}

			.c9 {
				left: 1000px;
				width: 152px;
			}
		}
	}

	#s3 {
		.c5 {
			left: -277px;
		}

		.c1 {
			width: 400px;
			height: 400px;
			left: 800px;
			top: 488px;
		}

		.c6 {
			left: 200px;
		}

		.c9 {
			left: 580px;
			top: 500px;
			z-index: -1;
		}

		.c4 {
			left: 384px;
			height: 927px;
			width: 510px;
			background-size: cover;
			z-index: 4;
			top: 30px;
		}

		.c7 {
			left: 405px;
			top: 645px;
		}

		.c8 {
			top: 613px;
			left: 286px;
		}

		.about {
			z-index: 500;
			max-width: 715px;
			left: 28px;
			top: 228px;

			h2 {
				display: flex;
				flex-flow: column;
				justify-content: flex-start;
				align-items: flex-start;
				max-width: 400px;
				font-size: 64px;

				span {
					&::after {
						height: 2px;
					}
				}
			}

			.about_p {
				margin: 24px 0 0;
				padding: 0;
				display: flex;
				flex-flow: column;

				p {
					font-size: 20px;
					max-width: 368px;
					margin-bottom: 16px;
				}
			}
		}
	}

	#s4 {
		overflow: hidden;

		.content {
			margin-right: 800px;

			.next_page_btn {
				left: 904px;
			}

			.c4 {
				left: 160px;
			}

			.c5 {
				top: 771px;
			}

			.c1 {
				left: 0;
			}

			.c2 {
				left: 675px;
				top: 287px;
				width: 48px;
				height: 48px;
			}

			.c3 {
				left: 700px;
				top: -200px;
				width: 620px;
			}

			.swiper_s4 {
				.swiper-container {
					overflow: visible;
				}

				.swiper-slide {
					.h3_slide {
						max-width: 469px;
					}

					.flex {
						.btn_down {
							width: 40px;
							height: 40px;
						}
					}

					&.swiper-slide-active {}
				}
			}
		}
	}

	#s5,
	#s7 {
		.content {
			.c2 {
				top: 76px;
				left: -100px;
			}

			.c3 {
				top: 286px;
				left: 85px;
			}

			.c4 {
				width: 541px;
				height: 541px;
				top: 242px;
				left: 114px;
			}

			.c6 {
				left: 723px;
				top: 299px;
			}

			.c7 {
				left: 572px;
				top: -20px;
			}

			.c5 {
				left: 618px;
				top: 872px;
			}

			.c9 {
				left: 950px;
				top: 520px;
				width: 400px;
			}

			.c8 {
				left: 800px;
			}

			.about {
				width: 469px;
				left: 150px;
				top: 384px;

				.connect_link {
					width: 100%;

					span {
						font-size: 24px;
						height: 24px;
					}
				}

				h1 {
					font-size: 64px;
				}
			}
		}
	}

	#s6 {
		.content {
			.c1 {
				width: 370px;
				height: 370px;
				top: -100px;
			}

			.illustration {
				left: -111px;
				top: 352px;
			}

			.c3 {
				width: 93px;
				height: 150px;
				top: 716px;
				left: 49px;
			}

			.c6 {
				left: 512px;
			}

			.c5 {
				left: 671px;
			}

			.c4 {
				left: 500px;
				width: 500px;
				top: 709px;
			}

			.c8 {
				left: 1100px;
				top: 863px;
			}

			.about {
				max-width: 650px;
				left: 28px;
				top: 120px;

				h1 {
					font-size: 64px;

					&::after {
						display: none;
					}
				}

				h4 {
					font-size: 32px;
					margin-top: 8px;
				}

				ul {
					margin: 0;
					padding: 0;
					max-width: 540px;

					.text {
						font-size: 20px;
						margin: 25px;
					}
				}
			}
		}
	}

	#s7 {
		.content{
			.c9{
				width: 200px;
			}
		}
		.license {
			flex-flow: column;
			align-items: flex-start;
			bottom: 64px;
			right: 28px;
			width: 265px;
			margin: 0;
			left: inherit;

			a {
				font-size: 16px;

				&::after {
					display: none;
				}
			}
		}

		.copy {
			font-size: 16px;
			right: 145px;
		}
	}

	.modal1.active {
		.Triangle {
			transform: rotate(45deg) translate(-96px, -115px);
		}

		.block {
			left: -26px;
		}

		.close {
			width: 48px;
			height: 48px;
			left: calc(100% - 48px);
	}
			.wrap_modal_cont {
				flex-flow: column;
			}

			.illustration {
				width: 100%;
				height: 50%;
			}

			.flex_content {
				h4 {
					font-size: 32px;
					max-width: 381px;
					margin-bottom: 24px;
				}

				p {
					font-size: 20px;
					margin-bottom: 24px;
				}

				.btn_contact {
					width: 281px;

					.span {
						font-size: 20px;
					}
				}
			}

	}
	#s8{
		.content{

		.about{
			    margin-left: 24px;
					h1{
						    font-size: 64px;
					}
					h4{
						font-size: 32px;
margin-top: 24px;
					}
		}
	}
		
	}
}
