html, body {
	 position: relative;
	 height: 100%;
}
 body {
	 background: #eee;
	 font-size: 14px;
	 color: #000;
	 margin: 0;
	 padding: 0;
}
.swiper-wrapper{
  position: relative;
width: 100%;
height: 100%;
z-index: 1;
display: flex;
transition-property: transform;
box-sizing: content-box;
}
 .swiper-container {
	 width: 100%;
	 height: 100%;
}
 .swiper-slide {
	 text-align: center;
	 font-size: 18px;
	 background: #fff;
	/* Center slide text vertically */
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 -webkit-justify-content: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 -webkit-align-items: center;
	 align-items: center;
	 flex:none;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

#s1{
	background-color: #e73d11;
}
header{
	position: fixed;
z-index: 2;
margin-top: 24px;
display: flex;
justify-content: space-between;
width: 100%;
padding: 0 160px;
box-sizing: border-box;
	.logo{
		background-image: url(../img/logo.svg);
		width: 132px;
height: 24px;
background-size: contain;
	}
}
