@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
	position: relative;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
}

.after {
	position: relative;
}

.after::after {
	content: '';
	background: #ffffff;
	width: 100%;
	position: absolute;
	height: 8px;
	bottom: 0;
	left: 0;
}

h1,
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 88px;
	font-weight: 900;
	line-height: 1.18;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-size: 104px;
	line-height: 1.08;
	letter-spacing: normal;
}

h3,
h4 {
	font-family: 'Playfair Display', serif;
	font-size: 72px;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	line-height: 1.11;
	letter-spacing: normal;
	color: #ffffff;
	margin: 0;
}

h4 {
	font-size: 40px;
	line-height: 1;
}

p {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

body {
	background: #eee;
	font-size: 14px;
	color: #000;
	margin: 0;
	font-family: 'Playfair Display', serif;
	padding: 0;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	flex: none;
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.next_page_btn {
	width: 32px;
	height: 32px;
	position: fixed;
	bottom: 32px;
	right: 32px;
	background-image: url("../img/arrow screen-1.svg");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 4;
}

#s1 {
	background-color: #e73d11;
}

#s2,
#s4,
#s7 {
	background-color: #131313;
}

#s3,
#s8,
#s9 {
	background-color: #7c00d9;
}

#s6 {
	background-color: #e73d11;
}

.bg {
	background-image: url("../img/slide1/star-1.svg");
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	z-index: 2;
}

header {
	position: fixed;
	z-index: 2;
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 160px;
	box-sizing: border-box;

	.logo {
		background-image: url("../img/logo.svg");
		width: 132px;
		height: 24px;
		cursor: pointer;
		background-size: contain;

		&:hover {
			background-image: url("../img/logo-hover.svg");
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		a {
			text-decoration: none;
			font-family: Raleway;
			color: #fff;
			position: relative;
			padding: 10px;

			&.active {
				font-weight: 800;
				color: #f7ad01;

				li {
					&::after {
						display: none;
					}
				}
			}

			li {
				font-family: 'Raleway', sans-serif;
				font-size: 18px;
				line-height: 1.33;
				position: relative;

				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					bottom: 0;
					left: 0;
					background-color: #f7ad01;
				}
			}
		}
	}
}

.content {
	z-index: 3;
	width: calc(100% + 400px);
	height: 100%;
}

#s1 {
	width: calc(100% + 400px) !important;

	.wrapper {
		position: absolute;
		left: 58px;
		display: flex;
		flex-flow: column;
		bottom: 74px;
		justify-content: flex-start;
		width: 100%;
	}

	h1 {
		width: 1064px;
		margin: 23px;
		text-align: left;

		.f1 {
			margin-left: 144px;
		}

		.f2 {
			margin-left: 40px;
		}
	}

	.star {
		height: 633px;
		width: 310px;
	}

	.c1,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.c7,
	.c8,
	.c9 {
		background-image: url("../img/slide1/oval.svg");
	}

	.c1,
	.c4 {
		width: 46px;
		height: 46px;
		top: 167px;
		left: 719px;
	}

	.c2 {
		width: 108px;
		height: 108px;
		top: 53px;
		left: 785px;
	}

	.c3 {
		width: 28px;
		height: 28px;
		top: 18px;
		left: 800px;
	}

	.c4 {
		left: 1309px;
		top: 556px;
	}

	.c5 {
		width: 230px;
		height: 230px;
		top: 420px;
		left: 1380px;
	}

	.c6 {
		background-image: url("../img/slide1/oval.svg");
		width: 570px;
		height: 344px;
		bottom: 0;
		left: 785px;
		top: inherit;
	}

	.c7 {
		background-image: url("../img/slide1/oval.svg");
		width: 659px;
		background-size: cover;
		background-position: bottom;
		height: 438px;
		top: 0;
		left: 941px;
	}

	.c8 {
		width: 400px;
		height: 400px;
		top: 58px;
		left: calc(100% + 150px);
	}

	.c9 {
		width: 105px;
		height: 105px;
		top: inherit;
		bottom: 21px;
		left: inherit;
		right: -379px;
	}

	.connect_link {
		font-size: 48px;
		font-weight: bold;
		font-stretch: normal;
		font-style: italic;
		line-height: 0.67;
		letter-spacing: normal;
		color: #f7ad01;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		height: 48px;

		span {
			position: relative;
			height: 100%;
			cursor: pointer;

			&::after {
				content: '';
				background: #f7ad01;
				width: 100%;
				position: absolute;
				height: 2px;
				bottom: 0;
				left: 0;
			}
		}

		.next {
			width: 28px;
			height: 28px;
			margin-left: 18px;
			position: relative;
			background-image: url("../img/arrow right button.svg");
			cursor: pointer;
		}
	}
}

#s2 {
	position: relative;
	margin-left: -800px;
	width: calc(100% + 800px) !important;

	.content {
		z-index: 3;
		margin-left: 400px;
		position: relative;
		margin-right: 400px;

		.c1,
		.c2,
		.c3,
		.c4,
		.c5,
		.c6,
		.c7,
		.c8 {
			background-image: url("../img/slide2/Screen-2 Triangle -1.svg");
			background-size: contain;
		}

		.c1 {
			height: 231px;
			width: 269px;
			left: -400px;
			top: 82px;
		}

		.c2 {
			background-image: url("../img/slide2/Screen-2 Triangle -2.svg");
			width: 614px;
			height: 500px;
			left: -260px;
			top: inherit;
			bottom: -150px;
		}

		.c3 {
			background-image: url("../img/slide2/Screen-2 Triangle -3.svg");
			width: 235px;
			height: 249px;
			left: -100px;
			top: 400px;
		}

		.c4 {
			background-image: url("../img/slide2/Screen-2 Triangle -4.svg");
			width: 101px;
			height: 101px;
			bottom: 10px;
			top: inherit;
			left: 148px;
		}

		.c5 {
			background-image: url("../img/slide2/Combined Shape.svg");
			width: 756px;
			height: 756px;
			top: 78px;
			left: 812px;
		}

		.c6 {
			background-image: url("../img/slide2/Screen-2 Triangle -5.svg");
			width: 210px;
			height: 242px;
			top: 55px;
			left: 1390px;
			z-index: 4;
		}

		.c7 {
			background-image: url("../img/slide2/Screen-2 Triangle -6.svg");
			width: 81px;
			height: 101px;
			top: 204px;
			left: 1509px;
			z-index: 4;
		}

		.c8 {
			background-image: url("../img/slide2/Screen-2 Triangle -7.svg");
			left: 1400px;
			width: 509.5px;
			bottom: -71px;
			top: inherit;
			height: 528px;
		}

		.c9 {
			background-image: url("../img/slide2/Screen-2 Triangle -8.svg");
			width: 252px;
			height: 228px;
			top: inherit;
			left: 1700px;
			bottom: -50px;
		}
	}

	.about {
		width: 1172px;
		position: absolute;
		z-index: 3;
		left: 268px;
		top: 209px;

		h2 {
			font-size: 72px;
			font-weight: 900;
			font-stretch: normal;
			font-style: italic;
			font-family: 'Playfair Display', serif;
			line-height: 1;
			letter-spacing: normal;
			color: #ffffff;
			text-transform: inherit;
			text-align: left;
		}

		.about_p {
			margin-top: 40px;
			display: flex;
			padding: 0 16px 0 109px;

			p {
				font-size: 24px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				max-width: 507px;
				line-height: 1.33;
				padding: 0 16px;
				letter-spacing: normal;
				color: #ffffff;
				text-align: left;
			}
		}
	}
}

#s3 {
	width: calc(100% + 800px) !important;

	.content {
		position: relative;
		margin-left: 400px;
	}
	margin-left: -800px;

	.c1,
	.c10,
	.c11,
	.c12,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.c7,
	.c8,
	.c9 {
		background-image: url("../img/slide1/oval.svg");
	}

	.c1 {
		top: 334px;
		left: -80px;
		width: 176px;
		height: 176px;
	}

	.c2 {
		width: 40px;
		height: 40px;
		top: 500px;
		left: -100px;
	}

	.c3 {
		width: 468px;
		height: 368px;
		top: inherit;
		bottom: -80px;
		background-size: cover;
		left: -150px;
	}

	.c4 {
		background-image: url("../img/slide3/illustration-1.svg");
		left: 1143px;
		top: 73px;
		width: 429px;
		height: 779px;
	}

	.c5 {
		background-image: url("../img/slide3/Screen-3 Star-1-2.svg");
		left: 174px;
		top: 0;
		width: 978px;
		height: 683px;
	}

	.c6 {
		background-image: url("../img/slide3/Screen-3 Oval-10-2.svg");
		left: 645px;
		top: 0;
		width: 137px;
		height: 49px;
	}

	.c7 {
		left: 825px;
		top: 622px;
		width: 44px;
		height: 44px;
	}

	.c8 {
		left: 704px;
		top: 568px;
		width: 109px;
		height: 109px;
	}

	.c9 {
		left: 982px;
		top: 473px;
		width: 27px;
		height: 27px;
	}

	.c10 {
		left: 1368px;
		top: 422px;
		width: 400px;
		height: 400px;
		z-index: 1;
	}

	.c11 {
		left: 1940px;
		top: 161px;
		width: 31px;
		height: 31px;
	}

	.c12 {
		left: 1860px;
		top: inherit;
		width: 234px;
		height: 234px;
		bottom: 0;
	}

	.about {
		width: 1172px;
		max-width: 985px;
		position: absolute;
		z-index: 3;
		left: 160px;
		top: 146px;

		h2 {
			text-align: left;

			span {
				color: #f7ad01;
			}

			.after::after {
				background: #f7ad01;
			}
		}

		.about_p {
			margin-top: 40px;
			display: flex;
			padding: 0 16px 0 109px;

			p {
				font-size: 24px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				max-width: 507px;
				line-height: 1.33;
				padding: 0 16px;
				letter-spacing: normal;
				color: #ffffff;
				text-align: left;
			}
		}
	}
}
#s4{
	margin-left: -800px;
width: calc(100% + 800px) !important;
position: relative;
.content{
width: calc(100% + 400px);
height: 100%;
margin-left: 400px;
position: relative;
    margin-right: 400px;
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
 {
	background-image: url("../img/slide4/Screen-4 Rectangle-1.svg");
}
.c1{
	top: 40px;
left: -100px;
height: 319px;
width: 319px;
}
.c2{
	background-image: url("../img/slide4/Screen-4 Rectangle-4.svg");
	width: 71px;
  height: 71px;
	top: 109px;
	left: 1024px;
}
.c3{
	background-image: url('../img/slide4/Screen-4 Rectangle-5.svg');
width: 738px;
height: 738px;
top: -400px;
left: 1030px;
}
.c4{
	background-image: url("../img/slide4/Screen-4 Rectangle-2.svg");
top: 719px;
left: 553px;
width: 269px;
height: 194px;
}
.c5{
	background-image: url("../img/slide4/Screen-4 Rectangle-3.svg");
top: 821px;
left: 410px;
width: 66px;
height: 66px;
}
.c6{
	background-image: url("../img/slide4/Screen-4 Rectangle-1-2.svg");
	top: 400px;
	left: 1710px;
	width: 319px;
	height: 319px;
}
}
#s5{
	margin-left: -800px;
width: calc(100% + 800px) !important;
position: relative;
 background-color: #e73d11;
 .content{
	 width: calc(100% + 400px);
	 height: 100%;
	 margin-left: 400px;
	 position: relative;
	     margin-right: 400px;
 }
 .c1,
 .c10,
 .c2,
 .c3,
 .c4,
 .c5,
 .c6,
 .c7,
 .c8,
 .c9 {
	 background-image: url("../img/slide1/oval.svg");

 }
 .c1{
	 width: 284px;
	 height: 284px;
	 bottom: 0;
	 left: -100px;
	 top: inherit;
 }
 .c2{
	 width: 209px;
  height: 209px;
	left: 66px;
	top: 370px;
 }
 .c3{
	 width: 64px;
  height: 64px;
	top: 515px;
	left: 267px;
 }
 .c4{
	 width: 804px;
	 height: 804px;
	 left: 398px;
	 top: 48px;
 }
 .c5{
	 width: 64px;
  height: 64px;
	top: 745px;
	left: 1102px;
 }
 .c6{
	 width: 43px;
  height: 43px;
	left: 1325px;
	top: 328px;
 }
 .c7{
	 width: 277px;
  height: 277px;
	top: 11px;
	left: 1174px;
 }
 .c8{
	 width: 86px;
  height: 86px;
	top: 275px;
	left: 1391px;
 }
 .c9{
	 width: 400px;
height: 400px;
top: 58px;
left: 1591px;
 }
 .c10{
	 width: 105px;
   height: 105px;
top: 774px;
left: 1791px;
 }
}
#s6{
	background-color: #131313;
	margin-left: -800px;
width: calc(100% + 800px) !important;
position: relative;
.content{
	width: calc(100% + 400px);
	height: 100%;
	margin-left: 400px;
	position: relative;
			margin-right: 400px;
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c8,
.c7,
.c9,
.c10,
 {
	background-image: url("../img/slide6/Screen-6 Triangle-1.svg");
}
.c1{
	height: 142px;
	top: 0;
	left: -100px;
	width: 142px;
}
.c2{
	background-image: url("../img/slide6/Screen-6 Triangle-2.svg");
height: 864px;
top: inherit;
left: -450px;
width: 864px;
bottom: -500px;
}
.c3{
	width: 150px;
  height: 150px;
	top: inherit;
	bottom: 100px;
	left: 0;

}
}
